body{
    background-color: black;
}
#container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    border: 1px solid white;
}
.box-grid{
    width: 610px;
    height: 610px;
    border: 1px solid white;
    margin: 10px auto;
    padding: 10px;
}
.card{
    width: 180px;
    height: 180px;
    border: 2px solid green;
    display: inline-block;
    margin: 5px;
}
.card h3{
    color: white;
}

.card:hover{
    background-color: blueviolet;
}